<h1>Административная панель</h1>

<p>Используйте следующие ссылки для управления ролями пользователей:</p>
<ul>
    <li><a href="{{ path('admin_assign_role', {'username': 'username'}) }}">Назначить роль администратора</a></li>
    <li><a href="{{ path('admin_remove_role', {'username': 'username'}) }}">Убрать роль администратора</a></li>
</ul>
