{% extends 'base.html.twig' %}

{% block title %}New SecuredPaper{% endblock %}

{% block body %}
    <h1>Create new SecuredPaper</h1>

    {{ include('secured_paper/_form.html.twig') }}

    <a href="{{ path('app_secured_paper_index') }}">back to list</a>
{% endblock %}
